<?xml version="1.0"?>
<!-- @Brief: Setting used by PrimaveraPatcher.
      Original design from Adam Cohen-->

<configuration>
  <appSettings>

    <!-- ########################################## -->
    <!-- Settings -->
    <!-- ########################################## -->
    
    <add key="mailserver" value="cnlv-smtp.ci.north-las-vegas.nv.us"/>
    <add key="from" value="noreply@cityofnorthlasvegas.com"/>
    <add key="to" value="BermudezM1@cityofnorthlasvegas.com"/>
    <add key="CC" value="KimA@cityofnorthlasvegas.com"/>
    <add key="subject" value="PrimaveraPatcher Error"/>
    <add key="debugging" value="true"/>
    <add key="updatePage" value="http://www.oracle.com/technetwork/apps-tech/primaverapcm-087479.html"/>
    <add key="maxUpdateVer" value ="13"/>

  </appSettings>
</configuration>
